*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #232323;
}

img {
  width: 100%;
}

/* General Styles */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./arena.jpg');
  background-size: cover;
  background-position: center center;
  height: 80vh;
  width: 100%;
}

.nav {
  padding: 2rem;
}

.nav .logo {
  font-size: 3rem;
  color: red;
  font-weight: bold;
}

.content-container {
  height: 80vh;
  width: 100%;
  padding: 0 2rem;
}

.content-container .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container .content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  font-weight: 800;
  margin-bottom: 1rem;
}

.content-container .content h1 span {
  color: red;
}

.content-container .content h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content-container .content p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.7);
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.input-container button {
  background-color: red;
  color: #fff;
  outline: none;
  border: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

.input-container button:hover {
  opacity: 0.7;
}
